/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --dekstop-version: 1024px;
  --tablet-version: 768px;
  --mobile-version: 375px;
  --text-size: 18px;
  --text-line-height: 23.4px;
  --text-font: 'IBM Plex Mono';
  --background-image: url('../images/cover-image-dark.png');
  --background-color: #000028;
  --title-color: #DB00FF;
  --title-accent-color: #FF0070;
  --decription-text-color: #000028;
  --decription-color: #FF0070;
  --section-text-color: #FF0070;
  --paragraph-text-color: #F1B2CE;
  --accent-color: #FF0070;
  --button-color: #FF0070;
  --button-hover-color: #FF007066;
  --a-color: #F1B2CE;
  --corners-color: #FF0070;
}

.theme-dark .heared__rec::before {
  content: "REC";
  position: relative;
  font-family: var(--text-font, 'IBM Plex Mono', monospace, sans-serif);
  font-size: var(--text-size, 18px);
  color: var(--accent-color, #FF0070);
  justify-self: self-end;
  align-self: self-start;
  inline-size: 52px;
  block-size: 26px;
}

.theme-dark .heared__rec::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border: 2px solid var(--accent-color, #FF0070);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, #FF0070);
  background: var(--accent-color, #FF0070);
  margin-top: 7px;
  margin-left: -10px;
}

@media (width <= 768px) {
  .theme-dark .heared__rec::after {
    margin-top: 7px;
  }
}

@media (width <= 375px) {
  .theme-dark .heared__rec::after {
    margin-top: 8px;
  }
}