/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --dekstop-version: 1024px;
  --tablet-version: 768px;
  --mobile-version: 375px;
  --text-size: 18px;
  --text-font: 'IBM Plex Mono';
  --background-image: url('../images/cover-image-light.png');
  --title-color: #FFC2E6;
  --title-accent-color: #FF8DCB;
  --decription-text-color: #353430;
  --decription-color: #FF8DCB;
  --section-text-color: #353430;
  --paragraph-text-color: #353430;
  --accent-color: #FF8DCB;
  --button-color: #353430;
  --button-hover-color: #32312D66;
  --a-color: #353430;
  --corners-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --dekstop-version: 1024px;
    --tablet-version: 768px;
    --mobile-version: 375px;
    --text-size: 18px;
    --text-font: 'IBM Plex Mono';
    --background-image: url('../images/cover-image-light.png');
    --title-color: #FFC2E6;
    --title-accent-color: #FF8DCB;
    --decription-text-color: #353430;
    --decription-color: #FF8DCB;
    --section-text-color: #353430;
    --paragraph-text-color: #353430;
    --accent-color: #FF8DCB;
    --button-color: #353430;
    --button-hover-color: #32312D66;
    --a-color: #353430; 
    --corners-color: #353430;
  }
}
